<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация о нас</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/main/assets/css/main.css" />
		<link rel="icon" type="image/png" href="/static/main/images/icons/favicon.ico">
</head>
	<body>
		<div id="page-wrapper">
			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">
						<div class="row">
							<div class="12u">
								<!-- Logo -->
									<span class="login100-form-logo">
										<i><img src="/static/main/assets/css/images/logo-short.png"></i>
									</span>
							</div>
						</div>
					</header>
					<div id="banner">
						<div class="container">
							<div class="row">
								<div class="6u 12u(mobile)">
										<p>Наш продукт – это Электронный табель учёта рабочего времени. В нём учитываются: продолжительность рабочего дня, время отпусков и больничных дней, а также другие показатели рабочего времени.</p>
										<p> Наш продукт будет полезен для оценки производительности сотрудников, планирования бюджета и оплаты труда, а также для соблюдения законодательных норм в области рабочего времени.
										Электронный табель учёта рабочего времени может быть интегрирован с другими системами управления ресурсами.</p>
										<p>Наш продукт поможет оптимизировать процессы управления ресурсами и улучшит эффективность работы предприятия. Его применение позволит автоматизировать важную часть работы.</p>
								</div>
								<div class="6u 12u(mobile)">
										<a class="bordered-feature-image"><img src="/static/main/assets/css/images/logoverh.jpg" alt="" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Features -->
				<div id="features-wrapper">
					<div id="features">
						<div class="container">
							<div class="row">
								<div class="3u 12u(mobile)">
									<!-- Feature #1 -->
										<section>
											<a href="http://twitter.com/" class="bordered-feature-image1"><img src="/static/main/assets/css/images/Анастасия.jpg" alt="" /></a>
											<h2>Анастасия Кузяева</h2>
											<p>
												Студентка 5-го курса специалитета КФУ <a href="http://twitter.com/">"Экономическая безопасность"</a>.
												Обладает глубокими познаниями в области экономики, находится в числе лучших студентов группы. В будущем она может стать востребованным специалистом в сфере экономической безопасности.
											</p>
										</section>
								</div>
								<div class="3u 12u(mobile)">
									<!-- Feature #2 -->
										<section>
											<a href="http://twitter.com/" class="bordered-feature-image2"><img src="/static/main/assets/css/images/Егор.jpg" alt="" /></a>
											<h2>Егор Романов</h2>
											<p>
												Студент 1-го курса магистратуры КФУ <a href="http://twitter.com/">"Управление умным городом"</a>.
												Обладает отличными знаниями в области технологий, которые используются для управления городами.
												В будущем он сможет внести свой вклад в развитие городской инфраструктуры.
											</p>
										</section>
								</div>
								<div class="3u 12u(mobile)">
									<!-- Feature #3 -->
										<section>
											<a href="http://twitter.com/" class="bordered-feature-image3"><img src="/static/main/assets/css/images/Александр.jpg" alt="" /></a>
											<h2>Александр Климов</h2>
											<p>
												Студент 1-го курса магистратуры КФУ <a href="http://twitter.com/">"Управление умным городом"</a>.
												Проявляет большой интерес к научным и практическим исследованиям.
												В будущем он может стать востребованным специалистом и сделать важный вклад в развитие науки и технологий.
											</p>
										</section>
								</div>
								<div class="3u 12u(mobile)">
									<!-- Feature #4 -->
										<section>
											<a href="http://twitter.com/" class="bordered-feature-image4"><img src="/static/main/assets/css/images/Аяз.jpg" alt="" /></a>
											<h2>Аяз Закиров</h2>
											<p>
												Студент 1-го курса магистратуры КФУ <a href="http://twitter.com/">"Управление умным городом"</a>.
												Изучает связанные со своей специализацией темы, участвует в выполнении научных проектов.
												Активно принимает участие в конференциях, публикует собственные исследования в научных журналах.
											</p>
										</section>

								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Content -->
				<div id="content-wrapper">
					<div id="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u(mobile)">

									<!-- Box #1 -->
										<section class="box1">
											<header>
												<h2>О нашем инструменте</h2>
												<h3>Что такое МастерХроно?</h3>
											</header>
											<a class="feature-image"><img src="/static/main/assets/css/images/logoniz.jpg" alt="" /></a>
											<p>
												Электронный табель учёта рабочего времени — это продукт, который позволяет легко и удобно вести учёт рабочего времени своих сотрудников.
												Наш продукт упрощает процесс учёта рабочего времени, позволяя не тратить время на рутинную работу и не отвлекаться от основной деятельности. Кроме того уменьшаются риски возникновения ошибок, повышется эффективность бизнес-процессов.
											</p>
										</section>

								</div>
								<div class="4u 12u(mobile)">

									<!-- Box #2 -->
										<section class="box2">
											<header>
												<h2>Функционал инструмента</h2>
												<h3>Что умеет МастерХроно?</h3>
											</header>
											<ul class="check-list">
												<li>Управление трудовыми ресурсами </li>
												<li>Расчёт рабочего времени</li>
												<li>Отчёт о проделанной работе</li>
												<li>Управление отпусками и больничными</li>
												<li>Аналитика трудозатрат</li>
												<li>Оптимизация бизнес-процессов</li>
												<li>Возможность интеграции </li>
												<li>Настройка к нуждам компании</li>
												<li>Снижение затрат на управление</li>
												<li>Увеличение точности учёта</li>
											</ul>
										</section>

								</div>
								<div class="4u 12u(mobile)">

									<!-- Box #3 -->
										<section class="box3">
											<header>
												<h2>Применение инструмента</h2>
												<h3>Где пригодится МастерХроно?</h3>
											</header>
											<ul class="quote-list">
												<li>
													<img src="/static/main/assets/css/images/1.png" alt="" style="width: 22%; margin-top: 30px;"/>
													<p>Государственные учреждения</p>
													<span>Наш продукт позволит контролировать рабочее время государственных служащих, чтобы обеспечить эффективность и качество их работы.</span>
												</li>
												<li>
													<img src="/static/main/assets/css/images/1.png" alt="" style="width: 22%; margin-top: 30px;"/>
													<p>Органы государственного контроля</p>
													<span>Наш продукт поможет в учёте за работой контролирующих органов, что позволит обеспечить более качественное выполнение функций.</span>
												</li>
												<li>
													<img src="/static/main/assets/css/images/1.png" alt="" style="width: 22%; margin-top: 30px;"/>
													<p>Налоговые службы</p>
													<span>Наш продукт может использоваться для учёта рабочего времени сотрудников налоговых органов, что поможет избежать ошибок в расчётах.</span>
												</li>
											</ul>
										</section>

								</div>
							</div>
						</div>
					</div>
				</div>
		</div>

		<footer>
            <a class="txt1" href="{% url 'cabinet' %}">
                 Личный кабинет
            </a>
            <p class="txt2">
            <script>
                document.write(new Date().getFullYear())
            </script>
            МастерХроно ©
            </p>
        </footer>

</body>
</html>